
h1{
    text-align: center;
}
.grid-container{

    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin:auto;
    width: 70%;

}

.grid-item{
    border:1px solid black;
    text-align: center;
}

.noUsers{

    color:white;
    background-color: red;
    text-align: center;
    justify-content: center;
    display: flex;
    width: 20%;
    margin: auto;
    margin-top: 30px;
}